{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - Estética</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Favicons -->
  <link href="{% static 'home/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'home/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/boxicons/css/boxicons.min.css' %}"rel="stylesheet">
  <link href="{% static 'home/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'home/ assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'home/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    
    <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="d-flex align-items-center justify-content-center">
                  <a href="#" class="logo d-flex align-items-center">
                      <span class="d-none d-lg-block flex-grow-1">Productos Belleza  </span>
                  </a>
              </div><!-- End Logo -->
              <div class="d-flex align-items-center justify-content-center">
                  
              </div><!-- End Logo -->
          </div>
      </div><!-- End Row -->
  </div><!-- End Container -->

    

  <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-center">
                <a href="#" class="logo d-flex align-items-center">
                    <span class="d-none d-lg-block flex-grow-1">Estética  </span>
                </a>
            </div><!-- End Logo -->
            <div class="d-flex align-items-center justify-content-center">
                
            </div><!-- End Logo -->
        </div>
    </div><!-- End Row -->
</div><!-- End Container -->


<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="d-flex align-items-center justify-content-center">
              <a href="#" class="logo d-flex align-items-center">
                  <span class="d-none d-lg-block flex-grow-1"> Cosmetología</span>
              </a>
          </div><!-- End Logo -->
          <div class="d-flex align-items-center justify-content-center">
              
          </div><!-- End Logo -->
      </div>
  </div><!-- End Row -->
</div><!-- End Container -->

    
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
  
        <a class="nav-link nav-icon" href="/">
          <i class="bi bi-house-fill"></i>
        </a><!-- End Home Icon -->
        
  
        <li class="nav-item dropdown">
          
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->
  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>
  
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>
  
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>
  
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>
  
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>
  
          </ul><!-- End Notification Dropdown Items -->
  
        </li><!-- End Notification Nav -->
  
        <li class="nav-item dropdown">
  
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->
  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="{% static 'home/assets/img/messages-3.jpg' %} " alt="" class="rounded-circle">
                <div>
                  <h4>Esteban Acevedo</h4>
                  <p>Tienen que revisar las clases anteriores, en partircular al afterclass</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="{% static 'home/assets/img/messages-2.jpg' %} " alt="" class="rounded-circle">
                <div>
                  <h4>Tutor 1</h4>
                  <p>Ya falta poco para finalizar, tienen que practicar.</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="{% static 'home/assets/img/messages-1.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Tutor 2</h4>
                  <p>Les dejo en el char recursos adicionales</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>
  
          </ul><!-- End Messages Dropdown Items -->
  
        </li><!-- End Messages Nav -->
  
        <li class="nav-item dropdown pe-3">
  
          {% if user.is_authenticated %}
            <a class="nav-link nav-profile d-flex align-items-center pe-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
              {% if user.userprofile.avatar %}
                <img src="{{ user.userprofile.avatar.url }}" alt="Profile" class="rounded-circle">
              {% else %}
                <img src="{% static 'home/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
              {% endif %}
              <span class="d-none d-md-block ps-2">{{ user.username }}</span>
            </a><!-- End Profile Image Icon -->
          {% else %}
            <a class="nav-link nav-profile d-flex align-items-center pe-0 dropdown-toggle" href="#" data-bs-toggle="dropdown">
              <img src="{% static 'home/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block ps-2">Guest</span>
            </a><!-- End Profile Image Icon -->
          {% endif %}

 
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ request.user.userprofile.full_name }}</h6>
              <span>{{ request.user.userprofile.profesion }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li>
              <a class="dropdown-item d-flex align-items-center" href="https://www.linkedin.com/in/marcos-azulay-22951050">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
   
   
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/edit_profile">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/user_list">
                <i class="bi bi-question-circle"></i>
                <span>Lista Usuarios</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/login">
                <i class="bi bi-box-arrow-left"></i>
                <span>Sign In</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
            
            
  
          </ul> 
        </li><!-- End Profile Nav -->
  
      </ul>
  </nav><!-- End Icons Navigation -->
          
  






  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/usuarios">
          <i class="bi bi-grid"></i>
          <span>Usuarios</span>
        </a>
      </li><!-- End Usuarios Nav -->

      

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#VS-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Ventas & Servicios</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="VS-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/create_servicio">
              <i class="bi bi-circle"></i><span>Nuevo Servicio</span>
            </a>
          </li>
          <li>
            <a href="/create_ventas">
              <i class="bi bi-circle"></i><span>Nueva Ventas</span>
            </a>
          </li>
                    
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Clientes-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Clientes</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Clientes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/lista_clientes">
              <i class="bi bi-circle"></i><span>Listado de Clientes</span>
            </a>
          </li>          
          <li>
            <a href="/create_cliente">
              <i class="bi bi-circle"></i><span>Crear Cliente</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#producto-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Productos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="producto-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/nuevo_producto">
              <i class="bi bi-circle"></i><span>Nuevo Producto</span>
            </a>
          </li>
          
          <li>
            <a href="/lista_productos">
              <i class="bi bi-circle"></i><span>Lista de Productos</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#categorias-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Categorias</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="categorias-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          
          <li>
            <a href="/lista_categorias">
              <i class="bi bi-circle"></i><span>Lista de Categorias</span>
            </a>
          </li>
          <li>
            <a href="/nueva_categoria">
              <i class="bi bi-circle"></i><span>Nueva Categoria</span>
            </a>
          </li>          
          
        </ul>
      </li><!-- End Forms Nav -->








      

      

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.linkedin.com/in/marcos-azulay-22951050">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      

      <li class="nav-item">
        <a class="nav-link collapsed" href="https://www.linkedin.com/in/marcos-azulay-22951050">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      

      

      

      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    
    <!-- Aquí se colocará el contenido específico de cada página -->
    {% block content %}
    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'home/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'home/assets/vendor/apexcharts/apexcharts.min.js' %}       "></script>
  <script src="{% static 'home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}      "></script>
  <script src="{% static 'home/assets/vendor/chart.js/chart.umd.js' %}       "></script>
  <script src="{% static 'home/assets/vendor/echarts/echarts.min.js' %}       "></script>
  <script src=" {% static 'home/assets/vendor/quill/quill.min.js' %}    "></script>
  <script src="{% static 'home/assets/vendor/simple-datatables/simple-datatables.js' %}     "></script>
  <script src="{% static 'home/assets/vendor/tinymce/tinymce.min.js' %}    "></script>
  <script src=" {% static 'home/assets/vendor/php-email-form/validate.js' %}        "></script>

  <!-- Template Main JS File -->
  <script src="{% static 'home/assets/js/main.js' %}    "></script>

</body>

</html>