{% extends 'home/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Crear Ventas</h1>

            <form method="POST">
                <br>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <small id="fechaAyuda" class="form-text text-muted">Formato: MM/DD/YYYY</small>
                </div>
                <button type="submit" class="btn btn-success">Crear</button>
                <a href="/" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
