{% extends 'home/base.html' %}

{% load static %}





{% block content %}



    




   <div class="pagetitle">
     <h1>Dashboard</h1>
     <nav>
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/create_cliente">Home</a></li>
         <li class="breadcrumb-item active">Dashboard</li>
       </ol>
     </nav>
   </div><!-- End Page Title -->

   <section class="section dashboard">
     <div class="row">

       <!-- Left side columns -->
       <div class="col-lg-8">
         <div class="row">

           <!-- NPT Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">NPT <span>| Total</span></h5>
                    
                            <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-alarm"></i>
                            </div>
                                <div class="ps-3">
                                    <h6>{{ total_npt }}</h6>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div><!-- End NPT Card -->

           <!-- Revenue Card -->
           <div class="col-xxl-4 col-md-6">
             <div class="card info-card revenue-card">

               

               <div class="card-body">
                 <h5 class="card-title">Revenue <span>| Total Clientes</span></h5>

                 <div class="d-flex align-items-center">
                   <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                     <i class="bi bi-currency-dollar"></i>
                   </div>
                   <div class="ps-3">
                     <h6>{{ total_revenue }}</h6>
                     

                   </div>
                 </div>
               </div>

             </div>
           </div>

           <!-- Customers Card -->
           <div class="col-xxl-4 col-xl-12">

             <div class="card info-card customers-card">

                <div class="card-body">
                    <h5 class="card-title">Clientes <span>| Detalle</span></h5>
                  
                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-3">
                        <h6>Clientes:</h6>
                        <ul>
                          {% for company in companies %}
                            <li>Compañia: {{ company.name }} - Contratos:
                              <ul>
                                {% for revenue in company.revenue_list %}
                                  <li>Año: {{ revenue.year }} - Monto: {{ revenue.amount }}</li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                    

               









           

           

                <!-- Top Revenue Clientes -->
                        <div class="col-12">
                            <div class="card top-selling overflow-auto">
                                <div class="card-body pb-0">
                                    <h5 class="card-title">Top Clientes <span>| Año</span></h5>

                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Año</th>
                                                <th scope="col"></th>
                                                <th scope="col">Revenue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for company in companies %}
                                            {% for revenue in company.revenue_list %}
                                            <tr>
                                                <th scope="row">
                                                    <a href="#">
                                                        <img src="{% static 'home/assets/img/product-' %}{{ forloop.parentloop.counter }}.jpg' %}" alt="">
                                                    </a>
                                                </th>
                                                <td>
                                                    <a href="#" class="text-primary fw-bold">{{ company.name }}</a>
                                                </td>
                                                <td>{{ revenue.year }}</td>
                                                <td class="fw-bold">{{ company.total_npt }}</td>
                                                <td>{{ revenue.amount }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!-- End Top Revenue Clientes -->

         </div>
       </div><!-- End Left side columns -->

       <!-- Right side columns -->
       <div class="col-lg-4">

         <!-- Recent Activity -->
         <div class="card">
           

           <div class="card-body">
             <h5 class="card-title">Usurios Registrados <span>| Detalle</span></h5>

             <div class="activity">

               <div class="activity-item d-flex">
                 <div class="activite-label">Sat May 27</div>
                 <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                 <div class="activity-content">
                     14:29:06 2023 -0300 <a href="#" class="fw-bold text-dark">Aplique un template de bootstrap. Ahora voy a
                        continuar modificandolo. Hasta aca funcionan
                        los formularios.</a> beatae
                 </div>
               </div><!-- End activity item-->

               <div class="activity-item d-flex">
                 <div class="activite-label">Fri May 26</div>
                 <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                 <div class="activity-content">
                    Se crearon las clases, formularios, vistas y urls.
                    Hasta aquí ya esta funcionando. A partir de aca voy
                    a tratar de hacerles mejoras visuales a las paginas.
                 </div>
               </div><!-- End activity item-->

               <div class="activity-item d-flex">
                 <div class="activite-label">Thu May 25</div>
                 <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                 <div class="activity-content">
                    Create migrations y Clases
                 </div>
               </div><!-- End activity item-->

               <div class="activity-item d-flex">
                 <div class="activite-label">Thu May 25</div>
                 <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                 <div class="activity-content">
                    Creacion de APP y home 
                 </div>
               </div><!-- End activity item-->

               <div class="activity-item d-flex">
                 <div class="activite-label">Thu May 25</div>
                 <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                 <div class="activity-content">
                    Merge branch 'main'
                 </div>
               </div><!-- End activity item-->

               <div class="activity-item d-flex">
                 <div class="activite-label">Thu May 25 </div>
                 <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                 <div class="activity-content">
                    Primer Commit
                 </div>
               </div><!-- End activity item-->

             </div>

           </div>
         </div><!-- End Recent Activity -->

         
         
              
           




         

       </div><!-- End Right side columns -->

     </div>
   </section>

 




















{% endblock %}