{% extends 'home/base.html' %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Listado de Clientes</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Fecha último servicio</th>
              <th>Fecha última venta</th>
              <th>Monto último servicio</th>
              <th>Valor última venta</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for cliente in datos_clientes %}
              <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.fecha_ultimo_servicio }}</td>
                <td>{{ cliente.fecha_venta }}</td>
                <td>{{ cliente.monto_servicio }}</td>
                <td>{{ cliente.valor }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <a type="button" class="btn btn-success btn-sm" href="/cliente_update/{{ cliente.id }}">Update</a>
                    <a type="button" class="btn btn-danger btn-sm ms-2" href="/cliente_delete/{{ cliente.id }}">Delete</a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <a href="/" class="btn btn-primary">Volver a la página principal</a>
    </div>
  </div>
{% endblock %}
