{% extends 'home/base.html' %}

{% load static %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <div class="text-center">
              <h2 class="card-title">Nueva Categoría</h2>
              <img src="{% static 'home/assets/img/beauty4.png' %}" alt="Imagen" class="mx-auto d-block producto-image" style="max-width: 500px;">
            </div>
          </div>
          
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {% if categoria_form.errors %}
                  <div class="alert alert-danger">
                    <ul>
                      {% for field_errors in categoria_form.errors.values %}
                        {% for error in field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {{ categoria_form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>


        </div>
      </div>
    </div>
  </div>
{% endblock %}
